
@{
    ViewBag.Title = "FileView";
}
<div id="file-page">
    
</div>



    <script>


        var model = new koLeasesViewModel();
        ko.applyBindings(model, $("#file-page").get(0));
    </script>
